<div class="container">
  <div class="header">
    <p class="mat-display-1 title">Information du compte</p>
  </div>
  <div class="content d-flex justify-content-center">
    <mat-card class="card-form mx-2">
      <h3>Informations générales</h3>
      <h5>Acceder à l'application Anastasis</h5>
      <form class="pt-3" *ngIf="userForm" [formGroup]="userForm">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="lastname">
              <mat-error *ngIf="checkError(userForm, 'lastname', 'required')">Champ obligatoire</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Prénom(s)</mat-label>
              <input matInput  formControlName="firstname">
              <mat-error *ngIf="checkError(userForm, 'firstname', 'required')">Prénom(s) obligatoire</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" class="email-field">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="checkError(userForm, 'email', 'required')">Adresse Email obligatoire</mat-error>
              <mat-error *ngIf="checkError(userForm, 'email', 'email')" required>Veuillez entrer une email valide</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Rôle</mat-label>
              <mat-select formControlName="role">
                <mat-option value="admin">Administrateur</mat-option>
                <mat-option value="medecin">Medecin</mat-option>
                <mat-option value="directeur">Directeur</mat-option>
                <mat-option value="directeur_general">Directeur Géneral</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-button color="primary" (click)="backToList()">Retour à la liste</button>
          <button mat-raised-button color="primary" (click)="onSubmitUserForm()">Mettre à jour</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <mat-card class="card-form mx-2">
      <h3>Sécurité</h3>
      <h5>Protéger votre compte avec un mot de passe sécurisé</h5>
      <form class="pt-3" *ngIf="passwordForm" [formGroup]="passwordForm">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input matInput formControlName="password" type="password">
              <mat-error *ngIf="checkError(passwordForm, 'password', 'required')">Mot de passe obligatoire</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Confirmation</mat-label>
              <input matInput formControlName="confirm_password" type="password">
              <mat-error *ngIf="checkError(passwordForm,'confirm_password', 'mustMatch')">Votre mot de passe et la confirmation doivent être identique</mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" (click)="onSubmitPasswordForm()">Changer</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>